.calendar-wrapper
  position relative

  .time
    width    10%
    height   820px
    display  inline-block
    position relative

    .time-label
      position absolute
      right    10px

  .events
    background  #EDEDED
    width       90%
    height      800px
    display     inline-block
    border-left 1px solid #ADADAD
    margin      10px 0px
    padding     0px 10px
    position    relative

    .event
      position      absolute
      background    white
      border        1px solid #ADADAD
      box-sizing    border-box
      border-radius 4px
      padding       3px
      overflow      hidden

    .current-time
      border   1px solid #000000
      width    100%
      position absolute
      left     0px
      z-index  100